@import "tailwindcss";

:root {
    --background: rgb(231, 231, 231);
    --foreground: #000000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@theme {  
  --animate-wiggle: wiggle 12s linear infinite;  
  @keyframes wiggle {
    0% {
      transform: translateX(5000%);
    }
    100% {      
      transform: translateX(-5000%);    
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: rgb(231, 231, 231);
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

